.header {
  display: flex;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 6px;
  font-weight: 600;
  padding: 4px 10px;
  text-transform: uppercase;
  margin-left: auto;
}
