* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}

body {
  // font-size: calc(6px + 2vmin);
  font-size: 16px;
  background-color: #2a2c37;
  color: #50fa7b;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
